<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="main.css" type="text/css" rel="stylesheet">
</head>
<body>
<image class="home-button" src="home_button.png" height="75px" width="75px" onclick="javascript:history.back()"></image>

<div id="register">
    <form class="form" id="registerform" method="post" action="/">
        <input class="form-control" placeholder="Email" type="text" name="email" id="email" required autofocus>
        <br>
        <input class="form-control" placeholder="Password" type="password" name="password" id="password" required>
        <br>
        <input class="form-control" placeholder="First Name" type="text" name="firstname" id="firstname" required>
        <br>
        <input class="form-control" placeholder="Last Name" type="text" name="lastname" id="lastname" required>
        <br>
        <input class="form-control" placeholder="Birthday" type="number" name="birthyear" id="birthyear" required>
        <br>
        <input class="form-control" placeholder="City" type="text" name="city" id="city" required>
        <br>
        <input type="radio" name="gender" value="male" checked>Male
        <input type="radio" name="gender" value="female">Female
        <br>
        <input class="button" type="submit" value="Register">
    </form>
</div>
</body>
</html>