<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="searchdiv">
    {{{content}}}
    <form class="form" id="searchform" method="post" action="/search">
        <input type="hidden" name="email" value="{{email}}">
        <input class="form-control" placeholder="Query" type="text" name="search" id="search" required autofocus>
        <br>
        <br>
        <input class="button" type="submit" value="Search">
    </form>
</div>
</body>
</html>