<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="main.css" type="text/css" rel="stylesheet">
</head>
<body>
{{#if recommendations}}
<div id="recommendations">
    <label class="search-recommendation">Recommendations</label>
    <label class="search-recommendation">{{recommendations.zap.Title}}</label>
    <image class="search-recommendation-image" src="{{recommendations.ebay.Image}}"></image>
</div>
{{/if}}

<div id="searchdiv">
    <form class="form" id="searchform" method="post" action="/search">
        <input type="hidden" name="email" value="{{email}}">
        <input class="form-control" placeholder="Query" type="text" name="search" id="search" required autofocus>
        <br>
        <br>
        <input class="button" type="submit" value="Search">
    </form>
    {{{content}}}
</div>
</body>
</html>